body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #f4f1d0;
}

.hero{
    background-color: #7bb24d;
    background-size:cover;
    position:relative;
    height:100vh;
}

.header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    font-size:36px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

#content{
    padding:100px 50px;
    text-align:center;
    width:80%;
    margin:0px auto;
    background: #222222;
}
#nav{
    background: #7bb24d; 
    border: none;
    box-shadow: none;
}
.navbar-brand{
    color: #f4f1d0;
}
#navbar{
    border:none;
}
.navbar-default .navbar-toggle{
    border-color: #f4f1d0;
    background: none;
}
.navbar-default .navbar-toggle:hover{
    border-color: none;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f4f1d0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: none;
}

.modal-content{
        top: 200px;
        background: none;
    }