.nav table{
    height: 100%;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
.nav th{
    height: 100%;
}
.nav th:hover{
    background-color: #dadad7;
}
.nav a{
    
}

.nav a:link, a:visited {
    color: #393D3F;
    padding: 99px 25px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    color: #393D3F;
    text-decoration: none;
}

.nav a:active {
    color: #393D3F;
    text-decoration: none;
}