    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-antenna:before { content: "\f100"; }
.flaticon-battery:before { content: "\f101"; }
.flaticon-camera:before { content: "\f102"; }
.flaticon-connection:before { content: "\f103"; }
.flaticon-control:before { content: "\f104"; }
.flaticon-control-1:before { content: "\f105"; }
.flaticon-control-2:before { content: "\f106"; }
.flaticon-control-3:before { content: "\f107"; }
.flaticon-control-4:before { content: "\f108"; }
.flaticon-drone:before { content: "\f109"; }
.flaticon-drone-1:before { content: "\f10a"; }
.flaticon-drone-10:before { content: "\f10b"; }
.flaticon-drone-11:before { content: "\f10c"; }
.flaticon-drone-12:before { content: "\f10d"; }
.flaticon-drone-13:before { content: "\f10e"; }
.flaticon-drone-14:before { content: "\f10f"; }
.flaticon-drone-15:before { content: "\f110"; }
.flaticon-drone-16:before { content: "\f111"; }
.flaticon-drone-17:before { content: "\f112"; }
.flaticon-drone-18:before { content: "\f113"; }
.flaticon-drone-19:before { content: "\f114"; }
.flaticon-drone-2:before { content: "\f115"; }
.flaticon-drone-3:before { content: "\f116"; }
.flaticon-drone-4:before { content: "\f117"; }
.flaticon-drone-5:before { content: "\f118"; }
.flaticon-drone-6:before { content: "\f119"; }
.flaticon-drone-7:before { content: "\f11a"; }
.flaticon-drone-8:before { content: "\f11b"; }
.flaticon-drone-9:before { content: "\f11c"; }
.flaticon-hands-free-device:before { content: "\f11d"; }
.flaticon-helicopter:before { content: "\f11e"; }
.flaticon-lens:before { content: "\f11f"; }
.flaticon-map:before { content: "\f120"; }
.flaticon-map-1:before { content: "\f121"; }
.flaticon-map-2:before { content: "\f122"; }
.flaticon-navigation:before { content: "\f123"; }
.flaticon-navigation-1:before { content: "\f124"; }
.flaticon-navigation-2:before { content: "\f125"; }
.flaticon-photo:before { content: "\f126"; }
.flaticon-pin:before { content: "\f127"; }
.flaticon-propeller:before { content: "\f128"; }
.flaticon-propeller-1:before { content: "\f129"; }
.flaticon-propeller-2:before { content: "\f12a"; }
.flaticon-propeller-3:before { content: "\f12b"; }
.flaticon-propeller-4:before { content: "\f12c"; }
.flaticon-radar:before { content: "\f12d"; }
.flaticon-radar-1:before { content: "\f12e"; }
.flaticon-socket:before { content: "\f12f"; }
.flaticon-target:before { content: "\f130"; }
.flaticon-viewfinder:before { content: "\f131"; }
    
    $font-Flaticon-antenna: "\f100";
    $font-Flaticon-battery: "\f101";
    $font-Flaticon-camera: "\f102";
    $font-Flaticon-connection: "\f103";
    $font-Flaticon-control: "\f104";
    $font-Flaticon-control-1: "\f105";
    $font-Flaticon-control-2: "\f106";
    $font-Flaticon-control-3: "\f107";
    $font-Flaticon-control-4: "\f108";
    $font-Flaticon-drone: "\f109";
    $font-Flaticon-drone-1: "\f10a";
    $font-Flaticon-drone-10: "\f10b";
    $font-Flaticon-drone-11: "\f10c";
    $font-Flaticon-drone-12: "\f10d";
    $font-Flaticon-drone-13: "\f10e";
    $font-Flaticon-drone-14: "\f10f";
    $font-Flaticon-drone-15: "\f110";
    $font-Flaticon-drone-16: "\f111";
    $font-Flaticon-drone-17: "\f112";
    $font-Flaticon-drone-18: "\f113";
    $font-Flaticon-drone-19: "\f114";
    $font-Flaticon-drone-2: "\f115";
    $font-Flaticon-drone-3: "\f116";
    $font-Flaticon-drone-4: "\f117";
    $font-Flaticon-drone-5: "\f118";
    $font-Flaticon-drone-6: "\f119";
    $font-Flaticon-drone-7: "\f11a";
    $font-Flaticon-drone-8: "\f11b";
    $font-Flaticon-drone-9: "\f11c";
    $font-Flaticon-hands-free-device: "\f11d";
    $font-Flaticon-helicopter: "\f11e";
    $font-Flaticon-lens: "\f11f";
    $font-Flaticon-map: "\f120";
    $font-Flaticon-map-1: "\f121";
    $font-Flaticon-map-2: "\f122";
    $font-Flaticon-navigation: "\f123";
    $font-Flaticon-navigation-1: "\f124";
    $font-Flaticon-navigation-2: "\f125";
    $font-Flaticon-photo: "\f126";
    $font-Flaticon-pin: "\f127";
    $font-Flaticon-propeller: "\f128";
    $font-Flaticon-propeller-1: "\f129";
    $font-Flaticon-propeller-2: "\f12a";
    $font-Flaticon-propeller-3: "\f12b";
    $font-Flaticon-propeller-4: "\f12c";
    $font-Flaticon-radar: "\f12d";
    $font-Flaticon-radar-1: "\f12e";
    $font-Flaticon-socket: "\f12f";
    $font-Flaticon-target: "\f130";
    $font-Flaticon-viewfinder: "\f131";